
@using clover.qms.web.Models
@{
    ViewBag.Title = "Index";

}
<style>
    .con-right {
        text-align: right;
    }

    .mt-20 {
        margin-top: 20px;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MISReportIndex</title>
    <script src="@Url.ContentAbsUrl("~/Scripts/CheckBox.js")"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("MISReport", "MISReport", FormMethod.Get))
        {

            @*@Html.AntiForgeryToken()*@
            <div>
                <div class="row">
                    <div class="col-sm-12 ">
                        <h3 style="text-align:center;color:#00239B">Overall MIS Report</h3>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-sm-2 con-right"> <p style="color:darkblue;font-size:18px">Start Date:</p></div>
                <div class="col-sm-3">
                    <input type="text" class="form-control date-picker" data-format="dd/MM/yyyy hh:mm:ss" readonly="readonly" name="startdate" id="dateStart" autocomplete="off" data-val="true" data-val-required="The start date is required" />

                    @Html.ValidationMessage("startdate", "", new { @style = "color:red" })
                </div>
                <div class="col-sm-2 con-right"><p style="color:darkblue;font-size:18px">End Date:</p></div>
                <div class="col-sm-3">
                    <input class="form-control date-picker" data-format="dd/MM/yyyy hh:mm:ss" readonly="readonly" name="enddate" id="dateEnd" autocomplete="off" data-val="true" data-val-required="The end date is required" />

                    @Html.ValidationMessage("enddate", "", new { @style = "color:red" })
                    <div><p id="validationDate" /></div>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Overall report" onclick="ValidateEndDate()" class="btn btn-success form-control" />
                </div>
            </div>

        }
    </div>
</body>
</html>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="model-body" id="contentBody" align="center">
            </div>
        </div>
    </div>

</div>

<script>
    function ValidateEndDate() {
        var startDate = $("#dateStart").val();
        var endDate = $("#dateEnd").val();

        if (startDate != '' && endDate != '') {
            if (Date.parse(startDate) > Date.parse(endDate)) {
                $('#validationDate').html('<font color="Red">End date should be greater than start date</font>');
                $("#dateEnd").val('');

            }
        }
        return false;
    };

</script>
@Scripts.Render("~/bundles/jqueryval")
