.error {
    color: red;
}
.div_width {
    margin-bottom: 10px;
    width: 100%;
}

.txt_width {
    width: 100%;
    border-radius: 50px !important;
    height: 45px;
    background: #f7f7f7;
}

.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #e1e4e4;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 30px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
body {
    /*background-image: url("bg.jpg") !important;*/
    /*background-attachment:fixed; background-size:cover;*/
    background: #eee;
}

.navbar-default {
    background-color: #fff !important;
    border-color: #e7e7e7 !important;
    border-bottom: 5px solid #edeff1 !important;
}

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: #81cb32 !important;
    }


/*.dropdown-menu>li>a {
        display: block;
        padding: 8px 20px !important;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        }*/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #81cb32 !important;
    color: #fff !important;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}



.navbar-default .navbar-nav > li > a {
    color: #000 !important;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 4px 4px !important;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}



.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 20px !important;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #eee !important;
}


.box_eft {
    background: #114a85;
    color: #fff;
}

    .box_eft:hover {
        background: #81CB32;
        color: #fff;
    }

.box_cnt {
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.text_c {
    text-decoration: none !important;
    color: #fff;
}

.btm_sec {
    background: #81CB32 !important;
    padding: 10px !important;
    margin: 0px !important;
    color: #000 !important;
    border-radius: 0px 0px 5px 5px !important;
}


.gly_set {
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.set_btn {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.set_btn li {
    display: inline;
}

.btn_mrgn {
    margin: 3px;
}