@model IEnumerable<clover.qms.model.Qms>
@{
    ViewBag.Title = "OperationalProcess";
    Layout = "~/Views/Shared/_LayoutRepository.cshtml";
}
<html>
<body style="margin-top:50px">
    <div id="process" class="form-horizontal table-responsive" align="center">
        <table class="table table-bordered table-hover">
            <thead>
                <tr bgcolor='#D3D3D3'>
                    <th>Sr.No.</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Version No.</th>
                </tr>
            </thead>
            <tbody>
                @{var srNo = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@srNo</td>
                            <td><a>@item.DocumentID</a></td>
                            <td>@item.DocumentName</td>
                            <td>@item.VersionNo@*.ToString("0.00")*@</td>
                        </tr>
                        srNo++;
                    }

                }
            </tbody>
        </table>

    </div>
</body>
</html>

