@model      @model clover.qms.model.Users

@{Layout = null; }

<style>
    .form-gap {
        padding-top: 70px;
        padding-left: 300px;
    }

    .panel {
        background: linear-gradient(#fff, #eee);
        border-color: black;
        box-shadow: 5px 5px #C0C0C0 !important;
        border-top: 4px solid #1143a6 !important;
    }

    .panel-body {
       /* margin-left: 12%;*/
    }
        .panel-default {
        border-color:black;
    }
    .head_p {
        background: #40bf40;
        color: #fff;
        text-align: center;
        padding: 5px;
    }
</style>
<html>
<head>
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>   -->

    
    
    
    
    

</head>
<body>


    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">

                    <div class="text-center">
                        <h3>@*<i class="fa fa-lock fa-4x"></i>*@ <span class="glyphicon glyphicon-lock" style="font-size: 80px;"></span></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", maxlength = 50, placeholder = "Email Id" } })

                                    </div>
                                    <div> @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })</div>

                                </div>
                                <div>
                                    @*<input class="btn btn-primary head_p" data-toggle="modal" data-target="#myModal"
                                            value="Reset Password" type="button">*@
                                    <input @*name="recover-submit"*@ class="btn btn-primary" @*btn-block*@ value="Reset Password" type="submit">
                                    <a href=@Url.Action("Login", "User") class="btn btn-danger">Close</a>
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>

                        @if (ViewBag.Message != null)
                            {
                                <script type="text/javascript">
                                        window.onload = function () {
                                            alert("@ViewBag.Message");
                                        };
                                </script>
                            }
                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header head_p">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @*<h4 class="modal-title">Content</h4>*@
                </div>
                <div class="modal-body">
                    <p>Reset password link has been sent to your email id</p>
                </div>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-primary head_p" data-dismiss="modal">Close</button></center>
                </div>
            </div>

        </div>
    </div>

    <<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>



    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    @Scripts.Render("~/bundles/jqueryval")


</body>
</html>







