<!DOCTYPE html>
<title>Quality Management System</title>
<link rel="shortcut icon" href="~/Images/clover.png">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div class="jumbotron text-center">
        <br>
        <br>
        <p style="text-align:center;color:#81CB32;font-size:larger">Oops! Something went wrong.Try again later.</p>
              
    </div>
</body>
</html>
