
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Quality Management System</title>
    <link rel="shortcut icon" href="~/Images/clover.png">
</head>
<body>
    <div class="jumbotron text-center">
        <br>
        <br>
        <p style="text-align:center;color:#81CB32;font-size:larger">You have logged out successfully.</p>
        <p style="text-align:center;color:#81CB32;font-size:larger">Thank You!</p>

        <p style="text-align:center">
            @Html.ActionLink("Login Again", "Index", "QMSRepository")

        </p>
    </div>
</body>
</html>
